.hcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#id {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5px;
}